<body>
    <header>
       	<meta charset="ISO-8859-1">
		<title>Job Contacts Tracker</title>
	    <div  class="container my-2" th:align="right"><a th:href = "@{/logout}" class="fa fa-sign-out fa-fw" th:align="right">Logout</a></div>
		<link rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous">
    </header>
    <div class="container my-2">
		<h1>Job Contacts Tracker,&nbsp;<span th:text="${#authentication.name}"></span></h1>
   		<hr>
   		<section layout:fragment="custom-content">
        	<p>Your page content goes here</p>
    	</section>
    </div>
    <footer>
        <p layout:fragment="custom-footer">Your custom footer here</p>
    </footer>
</body>