<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}" lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section layout:fragment="custom-content">
		<h2>Add Job Position</h2>
		<form action="#" th:action="@{/position/save}" th:object="${entity}" method="POST">	
			<input type="text" th:field="*{company}" placeholder="Company"       class="form-control mb-4 col-4">
			<input type="text" th:field="*{name}"    placeholder="Position Name" class="form-control mb-4 col-4">
			<textarea th:field="*{description}"      placeholder="Description"   class="form-control mb-4 col-4"></textarea>		
			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>	
		<hr>
		<a th:href = "@{/}"> Back to Job Contacts List</a>
    </section>
    <footer>
        <p layout:fragment="custom-footer"></p>
    </footer>
</body>
</html>
