<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}" lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section layout:fragment="custom-content">
		<h2>Update Job Position</h2>
		<form action="#" th:action="@{/jobcontact/save}" th:object="${entity}"
			method="POST">
			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<input type="hidden" th:field="*{positionId}" />
			<input type="hidden" th:field="*{candidate}" />
			<input type="date" th:field="*{date}"     placeholder="Date"        class="form-control mb-4 col-4">
			<input type="text" th:field="*{type}"     placeholder="Type"        class="form-control mb-4 col-4">
			<input type="text" th:field="*{company}"  placeholder="Company"     class="form-control mb-4 col-4">
			<input type="text" th:field="*{position}" placeholder="Position"    class="form-control mb-4 col-4">
			<textarea th:field="*{description}"       placeholder="Description" class="form-control mb-4 col-4"></textarea>
			<button type="submit" class="btn btn-info col-2">Update</button>
		</form>
		<hr>
		<a th:href = "@{/}"> Back to Course List</a>
    </section>
    <footer>
        <p layout:fragment="custom-footer"></p>
    </footer>
</body>
</html>

