<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}" lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section layout:fragment="custom-content">
		<h2>Add Job Contact</h2>
		<form action="#" th:action="@{/jobcontact/save}" th:object="${entity}" method="POST">
			<input id="date" name="date" type="date" th:value="${entity.date}" class="form-control mb-4 col-4">		
			<input type="text" th:field="*{type}"     placeholder="Contact Type" class="form-control mb-4 col-4" th:list="jobContactTypes">	
			<input type="text" th:field="*{company}"  placeholder="Company"      class="form-control mb-4 col-4" >
			<input type="text" th:field="*{positionId}" placeholder="Position"     class="form-control mb-4 col-4" th:list="companies">
			<textarea th:field="*{description}"       placeholder="Description"  class="form-control mb-4 col-4"></textarea>			
			<button type="submit" class="btn btn-info col-2">Save</button>
			
			<datalist id="companies">
			    <option th:each="option : ${positions}" th:value="${option.id}" th:text="${option.company}"></option>		    
			</datalist>
			
			<datalist id="jobContactTypes">
			    <option th:each="option : types" th:value="${option}" th:text="${option}"></option>		    
			</datalist>			
		</form>	
		<hr>
		<a th:href = "@{/}"> Back to Job Contacts List</a>
    </section>
    <footer>
        <p layout:fragment="custom-footer"></p>
    </footer>
</body>
</html>
